[mysql]
# pager='less -SFXin'

[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_bin
sql-mode=TRADITIONAL,ONLY_FULL_GROUP_BY
local_infile=on
default-time-zone=Asia/Tokyo

[client]
default-character-set=utf8mb4


